.main {
    display: flex;
    padding-left: 20%;
    padding-top: 15%;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 32px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}